{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    {% if title %}
        <title>{{ title }} | Learn With Cards</title>
    {% else %}
        <title>Learn With Cards</title>
    {% endif %}
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-section">
            <li><a href="{% url 'home' %}" class="navbar-brand">Learn With Cards</a></li>
            <li><a href="{% url 'card-deck-list' %}" class="link">Decks</a></li>
        </ul>
        <span>
            {{ user.username | capfirst }}
        </span>
        <ul class="navbar-section">
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}" class="link">Logout</a></li>
                <li><a href="{% url 'card-deck-create' %}" class="button small">New Deck</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="link">Login</a></li>
                <li><a href="{% url 'sign-in' %}" class="button small">Sign In</a></li>
            {% endif %}
        </ul>
    </nav>

    {% if messages %}
    {% for message in messages %}
        <div class="notification {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    
    <div class="main-container">
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    
        <div class="sidebar">
            {% block sidebar %}{% endblock sidebar %}
        </div>
    </div>

    <script src="{% static 'js/libs/locomotive-scroll.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/scroll.js' %}"></script>
</body>
</html>