{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% if title %}
        <title>{{ title }} | Learn With Cards</title>
    {% else %}
        <title>Learn With Cards</title>
    {% endif %}

    {% block head %}{% endblock head %}
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-section">
            <li>
                <a href="{% url 'home' %}" class="navbar-brand">Learning Decks</a>
            <span class="text-gray fw-400">
                {% block page-name %}{% endblock page-name %}
            </span>
        </li>
        </ul>
        <ul class="navbar-section">
            {% if user.is_authenticated %}
                <li><a href="{% url 'card-deck-create' %}" class="button small slash-idle">New Deck</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="link">Login</a></li>
                <li><a href="{% url 'sign-in' %}" class="button small">Sign In</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="sidebar">
        <span><img class="sidebar-logo" src="{% static 'img\learning_deck_logo.svg' %}" alt="Learning Decks Logo"></span>
        <ul class="sidebar-links">
            <li><a href="{% url 'card-deck-list' %}" class="link-white"><i class="fa-solid fa-compass text-gray space-r"></i>Explore</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'dashboard' %}" class="link-white"><i class="fa-solid fa-house text-gray space-r"></i>Home</a></li>
                <span class="separator"></span>
                <li><a href="{% url 'profile' %}" class="link-white"><i class="fa-solid fa-user text-gray space-r"></i>Profile</a></li>
                <li><a href="{% url 'logout' %}" class="link-white"><i class="fa-solid fa-arrow-right-from-bracket text-gray space-r"></i>Logout</a></li>
            {% endif %}
        </ul>
        <span></span>
    </div>

    {% if messages %}
    {% for message in messages %}
        <div class="notification {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}

    <div class="main-container">
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </div>

    <span class="trailer"></span>

    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollToPlugin.min.js" integrity="sha512-Eenw6RBFiF4rO89LCaB5fkd4WXI4Y7GSRxrLMMWx73dZNcl+dBU3/pJtITD2gTCoEGIf/Ph3spwp0zZnF+UEJg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js" integrity="sha512-tHvUcUQYi35zApvAa5TNR3fNhBQkVtkmWKfacnpxmix4/VTGz1lGjIVyLMp7gLgAvg+aKJjnVKokXJNS5GZ+/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="{% static 'js/libs/locomotive-scroll.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/scroll.js' %}"></script>

    {% block script %}{% endblock script %}
</body>
</html>