form {
    display: flex;
    flex-direction: column;
}

fieldset { border: none; }

.form-card {
    width: 33%;
    padding: 2rem 3rem;

    border: 1px solid $color-gray;
    box-shadow: 0px 8px 10px 0px $color-gray-alpha-low;
}

.form-title { margin-bottom: 1rem; text-align: center;}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;

    label {
        display: block;
        width: auto;
        position: absolute;
        margin-bottom: 0.25rem;
        order: -1;
        top: 50%;
        left: 1rem;
        transform: translate(0, -50%);
        font-size: 14px;
        color: $color-secondary-text;

        transition: top 0.2s;

        &::after {
            content: "";
            width: 8px;
            height: 8px;
            background: $color-gray;
            border-radius: 100px;
            position: absolute;
            right: -1rem;
            top: calc(50% - 4px);
            opacity: 0;
            transition: background 0.3s, opacity 0.3s;
        }
    }
    input:not(:placeholder-shown) + label {
        top: 0px;
    }
    input:not(:empty) {
        background: rgb(159, 148, 148);
    }
    input:empty:focus + label {
        top: 0px;
    }
    input:focus:invalid + label::after {
        border: 2px solid $color-red;
        opacity: 1;
    }
    input:valid + label::after {
        border: 2px solid $color-green;
        opacity: 1;
    }
}

.form-footer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    small {
        text-align: center;
        margin-top: 0.5rem;
    }
}

input {
    font-family: "Archivo", sans-serif;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 0.5rem 1rem;
    position: relative;
    display: inline-block;

    color: $color-secondary-text;
    outline: none;
    border: 1px solid $color-gray;
    border-radius: 0px;
    background: $color-background;
    box-shadow: inset 0px 0px 0px 0px $color-gray;

    transition: box-shadow 0.3s, background 0.3s;

    &:hover {
        box-shadow: inset 0px 0px 0px 4px $color-gray;
    }
    &:focus {
        background: $color-gray;
    }
}