@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Variable.woff2') format('woff2'),
         url('../fonts/Archivo-Variable.woff') format('woff'),
         url('../fonts/Archivo-Variable.ttf') format('truetype');
         font-weight: 100 900;
         font-display: swap;
         font-style: normal;
}

.text {
    color: $color-primary-text;
    font-weight: 400;

    &.title-1 { font-size: 1.75rem; font-weight: 700; }
    &.title-2 { font-size: 2rem; font-weight: 700; }
    &.sub-1 { font-size: 20px; font-weight: 500; }
    &.sub-2 { font-size: 24px; font-weight: 500; }
    &.body-1 { font-size: 14px; }
    &.body-2 { font-size: 16px; }
    &.caption-1 { font-size: 10px; }
    &.caption-2 { font-size: 12px; }

    &.secondary { color: $color-secondary-text; }

    &.error { color: $color-red; }
}