{% extends 'base.html' %}

{% block content %}
    <header class="centered">
        <h1 class="text title-1">
            {{ card_deck.name }}
            <span>by <a href="#" class="link">{{ card_deck.user.username }}</a></span>
        </h1>
        {% if card_deck.user == user %}        
            <form method="POST">
                {% csrf_token %}
                <h2 class="text sub-1">New Card</h2>
                {% for field in card_form %}
                    <fieldset class="form-group">
                        <div class="field-container indication">
                            {{ field }}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                        {% if field.help_text %}
                            <div class="form-help">
                                {{ field.help_text }}
                            </div>
                        {% endif %}
                    </fieldset>
                {% endfor %}
                <button type="submit" class="button small">+</button>
            </form>
        {% endif %}
        <div class="list-grid">
            {% for card in cards %}
                <div class="card">
                    {{ card.term }}
                    {{ card.definition }}
                    {% if card.deck.user == user %}                    
                        <a href="{% url 'card-update' card.deck.slug card.id %}" class="link">Update</a>
                        <a href="{% url 'card-delete' card.deck.slug card.id %}" class="link">Delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </header>
{% endblock content %}