{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="centered">
        <div class="form-card">
            <h3 class="form-title text title-1">Create Deck</h3>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <fieldset class="form-group">
                    <label for="id_username">Username</label>
                </fieldset>
                <fieldset class="form-group">
                    <label for="id_password">Password</label>
                </fieldset>
                <div class="form-footer">
                    <button class="button" type="submit">Create</button>
                </div>
            </form>
        </div>
    </header>
{% endblock content %}
