{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="centered">
        <div class="form-card">
            <h3 class="form-title text title-1">Create Deck</h3>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <fieldset class="form-group">
                        <div class="field-container indication">
                            {{ field }}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="text body-1 secondary error">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        {% if field.help_text %}
                            <div class="form-help">
                                {{ field.help_text }}
                            </div>
                        {% endif %}
                    </fieldset>
                {% endfor %}
                <div class="form-footer">
                    <button class="button" type="submit">Update</button>
                </div>
            </form>
        </div>
    </header>
{% endblock content %}
