{% extends 'base.html' %}

{% block content %}
    <div>
        <header class="list-header mb-2">
            <form method="GET" class="flex row">
                <div class="field-container mr-1">
                    <input type='text' id='search-query' name='search' value='{{ request.GET.search }}'/>
                    <label for="search-deck">Search deck</label>
                </div>
                <button type="submit" class="button small mr-1"><i class="fa-solid fa-magnifying-glass"></i></button>
                {% if request.GET.search != None %}
                <div class="flex row align-center">
                    <a class="button small" href="{% url 'card-deck-list' %}">Reset Search</a>
                </div>
                {% endif %}
            </form>

            {% if tag %}
            <div class="flex row align-center">
                <span class="mr-2">{{ tag }}</span>
                <a href="{% url 'card-deck-list' %}" class="button small">Reset</a>
            </div>
            {% endif %}
        </header>
    <div>
    {% if user.is_authenticated %} 
        <div class="mb-2">
            <h3 class="text sub-1 mb-1"><span class="b-700 space-r">Private</span><span class="b-300">Decks</span></h3>
            {% if user_card_decks %}
                <div class="grid column-3">
                    {% for card_deck in user_card_decks %}
                        <div class="card">
                            <div class="card-padding">
                                <div class="card-header">
                                    <div class="title">
                                        {{ card_deck.name }}
                                        <span>by <a href="#" class="link">You</a></span>
                                    </div>
                                    <div class="dates">
                                        <span>{{ card_deck.created_at }}</span>
                                        <span>{{ card_deck.update_at }}</span>
                                    </div>
                                </div>
                                <div class="tags-container">
                                    {% for tag in card_deck.tags.all %}
                                        <a href="{% url 'card-deck-tagged' tag.slug %}" class="tag link">{{ tag }}</a>
                                    {% endfor %}
                                </div>
                                <div class="card-body">
                                    <p class="text caption-2 secondary">{{ card_deck.description | truncatechars:50 }}</p>
                                </div>
                            </div>
                            <div class="card-buttons">
                                <a href="{% url 'card-deck-detail' card_deck.slug %}" class="card-main-button button small">GO</a>
                                {% if card_deck.user == user %}
                                    <div class="card-secondary-buttons">
                                        <a href="{% url 'card-deck-update' card_deck.slug %}" class="button small"><i class="fa-solid fa-pen"></i></a>
                                        <a href="{% url 'card-deck-delete' card_deck.slug %}?next={{ request.path|urlencode }}" class="button small"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    <h3 class="text body-2 secondary">No decks found</h3>
                </div>
            {% endif %}
            </div>
        {% endif %}
        <div>
            <h3 class="text sub-1 mb-1"><span class="b-700 space-r">Community</span><span class="b-300">Decks</span></h3>
            {% if card_decks %}
                <div class="grid column-3">
                    {% for card_deck in card_decks %}
                        <div {% if card_deck.user == user %}class="card card-own"{% else %}class="card"{% endif %} >
                            <div class="card-padding">
                                <div class="card-header">
                                    <div class="title">
                                        {{ card_deck.name }}
                                        {% if card_deck.user == user %}
                                            <span>by <a href="#" class="link">You</a></span>
                                        {% else %}
                                            <span>by <a href="#" class="link">{{ card_deck.user.username }}</a></span>
                                        {% endif %}
                                        <span>
                                            {% for favorite in card_deck_favorite %}
                                                {% if favorite.deck == card_deck %}
                                                    / Favorite
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                    </div>
                                    <div class="dates">
                                        <span>{{ card_deck.created_at }}</span>
                                        <span>{{ card_deck.update_at }}</span>
                                    </div>
                                </div>
                                <div class="tags-container">
                                    {% for tag in card_deck.tags.all %}
                                        <a href="{% url 'card-deck-tagged' tag.slug %}" class="tag link">{{ tag }}</a>
                                    {% endfor %}
                                </div>
                                <div class="card-body">
                                    <p class="text caption-2 secondary">{{ card_deck.description | truncatechars:50 }}</p>
                                </div>
                            </div>
                            <div class="card-buttons">
                                <a href="{% url 'card-deck-detail' card_deck.slug %}" class="card-main-button button small">GO</a>
                                {% if card_deck.user == user %}
                                    <div class="card-secondary-buttons">
                                        <a href="{% url 'card-deck-update' card_deck.slug %}" class="button small"><i class="fa-solid fa-pen"></i></a>
                                        <a href="{% url 'card-deck-delete' card_deck.slug %}?next={{ request.path|urlencode }}" class="button small"><i class="fa-solid fa-trash"></i></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    <h3 class="text body-2 secondary">No decks found</h3>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block sidebar %}
    <h2 class="sidebar-title">Decks</h2>
{% endblock sidebar %}

{% block script %}
{% endblock script %}