{% extends 'base.html' %}

{% block content %}
    <div class="fill flex centered">
        <form method="POST">
            {% csrf_token %}
            <h1 class="text title-1 center mb-1">Delete <span class="text-accent">{{ card_deck.name }}</span> deck ?</h1>
            <div class="grid column-2">
                <button type="submit" class="button">Yes</button>
                <a href="{{ request.GET.next }}" class="button">No</a>
            </div>
        </form>
    </div>
{% endblock content %}