html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction=horizontal] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction=horizontal] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction=horizontal] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

.navbar {
  width: auto;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem 4rem;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(45, 45, 45, 0.8);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-bottom: 1px solid #3c3c3c;
}
.navbar .navbar-brand {
  font-weight: 700;
  letter-spacing: 1px;
}
.navbar .navbar-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-section > li {
  margin-right: 2rem;
}
.navbar .navbar-section li:last-child {
  margin-right: 0px;
}

.sidebar {
  width: 4rem;
  height: 100%;
  padding: 2rem 0rem;
  position: sticky;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid #3c3c3c;
}
.sidebar .sidebar-title {
  cursor: default;
  font-size: 12px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
}

.button {
  padding: 1rem 2rem;
  position: relative;
  display: inline-block;
  border: 1px solid #3c3c3c;
  color: #e0c1ad;
  text-align: center;
  background: transparent;
  cursor: pointer;
  transition: color 0.3s;
}
.button::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #3c3c3c;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}
.button:hover {
  color: #fb9b5b;
}
.button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  right: 0;
}
.button.small {
  padding: 0.5rem 1rem;
}
.button.submit {
  transition: background 0.3s;
}
.button.submit:hover {
  background: #3c3c3c;
}

.link {
  color: #e0c1ad;
  position: relative;
  transition: color 0.3s;
}
.link::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #3c3c3c;
  position: absolute;
  left: 0;
  bottom: 2px;
  transition: transform 0.3s;
  transform-origin: right;
  transform: scaleX(0);
}
.link:hover {
  color: #fb9b5b;
}
.link:hover::after {
  width: 100%;
  transform: scale(1);
  transform-origin: left;
}

.card {
  overflow: hidden;
  padding: 1rem 2rem;
  border: 1px solid #3c3c3c;
}
.card .card-header {
  display: flex;
  justify-content: space-between;
}
.card .card-header .title {
  font-size: 20px;
  font-weight: 500;
}
.card .card-header .title span {
  font-size: 14px;
  color: #AFAFAF;
}
.card .card-header .dates {
  font-size: 10px;
  font-weight: 300;
  color: #AFAFAF;
}
.card .tags-container {
  display: flex;
  margin-bottom: 0.5rem;
}
.card .tag {
  margin-right: 0.5rem;
  font-size: 12px;
}
.card .card-buttons {
  display: grid;
  grid-template-columns: auto auto auto;
}

.notification {
  padding: 1rem 2rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #3c3c3c;
  animation: appear 0.3s, disappear 0.3s 3s forwards;
}
.notification.success {
  border: 1px solid #34C759;
}
.notification.error {
  border: 1px solid #FF3B30;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
::-webkit-scrollbar {
  background: transparent;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #3c3c3c;
  border-radius: 10px;
}

body {
  min-height: 100vh;
  display: block;
  font-weight: 300;
  background: #2D2D2D;
  color: #FFFFFF;
  font-family: "Archivo", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-container {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto;
  position: relative;
}

.container {
  position: relative;
  display: block;
  margin: 2rem 4rem;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

.form-card {
  width: 33%;
  padding: 2rem 3rem;
  border: 1px solid #3c3c3c;
  box-shadow: 0px 8px 10px 0px rgba(60, 60, 60, 0.5);
}

.form-title {
  margin-bottom: 2rem;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}
.form-group .field-container {
  width: 100%;
  position: relative;
  display: block;
}
.form-group .form-help {
  max-height: 0;
  display: block;
  overflow: hidden;
  font-size: 14px;
  color: #AFAFAF;
}
.form-group .field-container:focus-within + .form-help {
  max-height: 100%;
}

.field-container {
  position: relative;
  display: inline-block;
}
.field-container label {
  order: -1;
  font-size: 14px;
  color: #AFAFAF;
}
.field-container.indication + label::after {
  content: "";
  width: 8px;
  height: 8px;
  margin-left: 0.5rem;
  display: inline-block;
  background: #3c3c3c;
  border-radius: 100px;
  opacity: 0;
  transition: background 0.3s, opacity 0.1s 0.2s;
}
.field-container input[type=text],
.field-container input[type=email],
.field-container input[type=password],
.field-container input[type=number],
.field-container input[type=search],
.field-container textarea {
  width: 100%;
}
.field-container input[type=text] + label,
.field-container input[type=email] + label,
.field-container input[type=password] + label,
.field-container input[type=number] + label,
.field-container input[type=search] + label,
.field-container textarea + label {
  display: block;
  width: auto;
  position: absolute;
  margin-bottom: 0.25rem;
  left: 1rem;
  transform: translateY(-50%);
  top: 50%;
  left: 1rem;
  transition: top 0.2s;
}
.field-container.indication input[type=text] + label::after, .field-container.indication input[type=email] + label::after, .field-container.indication input[type=password] + label::after, .field-container.indication input[type=number] + label::after, .field-container.indication input[type=search] + label::after, .field-container.indication textarea + label::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #3c3c3c;
  border-radius: 100px;
  position: absolute;
  right: -1rem;
  top: calc(50% - 4px);
  opacity: 0;
  transition: background 0.3s, opacity 0.1s 0.2s;
}
.field-container input:not(:placeholder-shown) + label,
.field-container textarea:not(:placeholder-shown) + label {
  top: 0px;
}
.field-container input:empty:focus + label,
.field-container textarea:empty:focus + label {
  top: 0px;
}
.field-container input:focus:invalid + label::after,
.field-container textarea:focus:invalid + label::after {
  border: 2px solid #FF3B30;
  opacity: 1;
}
.field-container input:valid + label::after,
.field-container textarea:valid + label::after {
  border: 2px solid #34C759;
  opacity: 1;
}
.field-container textarea + label {
  top: 1rem;
}

.form-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-footer small {
  text-align: center;
  margin-top: 0.5rem;
}

input,
textarea {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  outline: none;
  border-radius: 0px;
}

textarea {
  width: 100%;
  min-height: 4rem;
  height: 4rem;
  resize: vertical;
  box-sizing: border-box;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=search],
textarea {
  padding: 0.5rem 1rem;
  position: relative;
  display: inline-block;
  color: #AFAFAF;
  border: 1px solid #3c3c3c;
  background: #2D2D2D;
  box-shadow: inset 0px 0px 0px 0px #3c3c3c;
  transition: box-shadow 0.3s, background 0.3s;
}
input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=number]:hover,
input[type=search]:hover,
textarea:hover {
  box-shadow: inset 0px 0px 0px 4px #3c3c3c;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=search]:focus,
textarea:focus {
  background: #3c3c3c;
}

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox],
  input[type=radio] {
    --active: #fb9b5b;
    --active-inner: #fff;
    --focus: 2px rgba(251, 155, 91, 0.3);
    --border: #3c3c3c;
    --border-hover: #3c3c3c;
    --background: #2d2d2d;
    --disabled: #3c3c3c;
    --disabled-inner: #e0c1ad;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox]:hover:not(:checked),
  input[type=radio]:hover:not(:checked) {
    box-shadow: inset 0px 0px 0px 4px #3c3c3c;
  }
  input[type=checkbox]:after,
  input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox]:checked,
  input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  input[type=checkbox]:disabled,
  input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox]:disabled:checked,
  input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox]:disabled + label,
  input[type=radio]:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox]:hover:not(:checked):not(:disabled),
  input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type=checkbox]:focus,
  input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type=checkbox]:not(.switch),
  input[type=radio]:not(.switch) {
    width: 21px;
  }
  input[type=checkbox]:not(.switch):after,
  input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox]:not(.switch):checked,
  input[type=radio]:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox] + label,
  input[type=radio] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  input[type=checkbox].switch {
    width: 38px;
  }
  input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
  input[type=radio] {
    border-radius: 50%;
  }
  input[type=radio]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type=radio]:checked {
    --s: 0.5;
  }
}
.grid {
  display: grid;
}

@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Variable.woff2") format("woff2"), url("../fonts/Archivo-Variable.woff") format("woff"), url("../fonts/Archivo-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
.text {
  color: #FFFFFF;
  font-weight: 400;
}
.text.title-1 {
  font-size: 1.75rem;
  font-weight: 700;
}
.text.title-2 {
  font-size: 2rem;
  font-weight: 700;
}
.text.sub-1 {
  font-size: 20px;
  font-weight: 500;
}
.text.sub-2 {
  font-size: 24px;
  font-weight: 500;
}
.text.body-1 {
  font-size: 14px;
}
.text.body-2 {
  font-size: 16px;
}
.text.caption-1 {
  font-size: 10px;
}
.text.caption-2 {
  font-size: 12px;
}
.text.secondary {
  color: #AFAFAF;
}
.text.error {
  color: #FF3B30;
}

.list-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
}

/*# sourceMappingURL=main.css.map */
