html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-size: inherit;
}

:root {
  --color-background: #17191a;
  --color-secondary: #1c1e1f;
  --color-gray: #626e77;
  --color-accent: #fb9b5b;
  --color-accent-light: #e1a983;
  --color-white: #ffffff;
  --color-white-al: rgba(255, 255, 255, 0.6);
  --color-red: #FF3B30;
  --color-red-al: rgba(255, 58, 48, 0.6);
  --color-green: #34C759;
  --color-green-al: rgba(52, 199, 89, 0.6);
  --color-secondary-text: #636d77;
}

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction=horizontal] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction=horizontal] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction=horizontal] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem 4rem;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(23, 25, 26, 0.6);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-bottom: 1px solid var(--color-secondary);
  transition: margin 0.3s;
}
.navbar .navbar-brand {
  font-weight: 700;
}
.navbar .navbar-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-section > li {
  margin-right: 2rem;
  display: flex;
  align-items: center;
}
.navbar .navbar-section li:last-child {
  margin-right: 0px;
}

.line-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.sidebar {
  height: 100vh;
  padding: 1.5rem 1rem 2rem 1rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid var(--color-secondary);
}
.sidebar .sidebar-colapse {
  width: 100%;
  display: flex;
  display: block;
  color: var(--color-gray);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}
.sidebar:hover .sidebar-colapse {
  opacity: 1;
}
.sidebar .sidebar-logo {
  width: 3rem;
  transition: transform 0.3s;
}
.sidebar .sidebar-logo:hover {
  transform: scale(1.4);
}
.sidebar.colapse .sidebar-colapse {
  transform: rotate(-180deg);
}
.sidebar.colapse .sidebar-links li {
  display: flex;
  justify-content: center;
}
.sidebar.colapse .sidebar-links li a {
  overflow: hidden;
}
.sidebar.colapse .sidebar-links li a span {
  opacity: 0;
  position: absolute;
  transform: translateX(-200%);
}
.sidebar.colapse .sidebar-links li a:hover {
  background: var(--color-secondary);
}
.sidebar.colapse .sidebar-links li a i {
  font-size: 18px;
  margin-right: 0px;
}
.sidebar .sidebar-links li {
  display: flex;
}
.sidebar .sidebar-links li a {
  position: relative;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 5px;
  transition: font-weight 0.3s, background 0.3s;
}
.sidebar .sidebar-links li a::after {
  content: none;
}
.sidebar .sidebar-links li a:hover {
  font-weight: 500;
}
.sidebar .sidebar-links li a span {
  display: inline-block;
  max-width: 100%;
  transition: opacity 0.3s, max-width 0.3s;
}
.sidebar .sidebar-links li a i {
  background: var(--color-background);
  margin-right: 1rem;
  transition: color 0.3s, font-size 0.1s;
}
.sidebar .sidebar-links li a:hover i {
  color: var(--color-accent);
}

footer {
  padding: 6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-section {
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 2rem;
}

.button {
  padding: 1rem 2rem;
  position: relative;
  display: inline-block;
  color: var(--color-white);
  text-align: center;
  font-size: 16px;
  background: transparent;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px inset var(--color-accent);
  transition: color 0.3s, box-shadow 0.3s, transform 0.2s ease-in-out;
}
.button::after {
  content: "";
  width: 102%;
  height: 102%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--color-accent);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  border-radius: 5px;
}
.button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  right: 0;
}
.button:hover {
  color: var(--color-white);
}
.button.small {
  padding: 0.5rem 1rem;
  font-size: 14px;
}
.button.submit {
  transition: background 0.3s;
}
.button.submit:hover {
  background: var(--color-secondary);
}
.button.rounded {
  border-radius: 10px;
}
.button.slash-idle:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: var(--color-accent);
  animation: slash 5s ease-in-out infinite;
}

@keyframes slash {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
.link-background {
  color: #17191a;
  position: relative;
  transition: color 0.3s;
}
.link-background.no-underline::after {
  content: none;
}
.link-background::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-secondary);
  position: absolute;
  left: 0;
  bottom: 2px;
  transition: transform 0.3s;
  transform-origin: right;
  transform: scaleX(0);
}
.link-background:hover {
  color: #17191a;
}
.link-background:hover::after {
  width: 100%;
  transform: scale(1);
  transform-origin: left;
}

.link-secondary {
  color: #1c1e1f;
  position: relative;
  transition: color 0.3s;
}
.link-secondary.no-underline::after {
  content: none;
}
.link-secondary::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-secondary);
  position: absolute;
  left: 0;
  bottom: 2px;
  transition: transform 0.3s;
  transform-origin: right;
  transform: scaleX(0);
}
.link-secondary:hover {
  color: #1c1e1f;
}
.link-secondary:hover::after {
  width: 100%;
  transform: scale(1);
  transform-origin: left;
}

.link-gray {
  color: #626e77;
  position: relative;
  transition: color 0.3s;
}
.link-gray.no-underline::after {
  content: none;
}
.link-gray::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-secondary);
  position: absolute;
  left: 0;
  bottom: 2px;
  transition: transform 0.3s;
  transform-origin: right;
  transform: scaleX(0);
}
.link-gray:hover {
  color: #626e77;
}
.link-gray:hover::after {
  width: 100%;
  transform: scale(1);
  transform-origin: left;
}

.link-accent {
  color: #fb9b5b;
  position: relative;
  transition: color 0.3s;
}
.link-accent.no-underline::after {
  content: none;
}
.link-accent::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-secondary);
  position: absolute;
  left: 0;
  bottom: 2px;
  transition: transform 0.3s;
  transform-origin: right;
  transform: scaleX(0);
}
.link-accent:hover {
  color: #fb9b5b;
}
.link-accent:hover::after {
  width: 100%;
  transform: scale(1);
  transform-origin: left;
}

.link-accent-light {
  color: #e1a983;
  position: relative;
  transition: color 0.3s;
}
.link-accent-light.no-underline::after {
  content: none;
}
.link-accent-light::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-secondary);
  position: absolute;
  left: 0;
  bottom: 2px;
  transition: transform 0.3s;
  transform-origin: right;
  transform: scaleX(0);
}
.link-accent-light:hover {
  color: #e1a983;
}
.link-accent-light:hover::after {
  width: 100%;
  transform: scale(1);
  transform-origin: left;
}

.link-white {
  color: #FFFFFF;
  position: relative;
  transition: color 0.3s;
}
.link-white.no-underline::after {
  content: none;
}
.link-white::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-secondary);
  position: absolute;
  left: 0;
  bottom: 2px;
  transition: transform 0.3s;
  transform-origin: right;
  transform: scaleX(0);
}
.link-white:hover {
  color: #FFFFFF;
}
.link-white:hover::after {
  width: 100%;
  transform: scale(1);
  transform-origin: left;
}

.link-red {
  color: #FF3B30;
  position: relative;
  transition: color 0.3s;
}
.link-red.no-underline::after {
  content: none;
}
.link-red::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-secondary);
  position: absolute;
  left: 0;
  bottom: 2px;
  transition: transform 0.3s;
  transform-origin: right;
  transform: scaleX(0);
}
.link-red:hover {
  color: #FF3B30;
}
.link-red:hover::after {
  width: 100%;
  transform: scale(1);
  transform-origin: left;
}

.link-green {
  color: #34C759;
  position: relative;
  transition: color 0.3s;
}
.link-green.no-underline::after {
  content: none;
}
.link-green::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-secondary);
  position: absolute;
  left: 0;
  bottom: 2px;
  transition: transform 0.3s;
  transform-origin: right;
  transform: scaleX(0);
}
.link-green:hover {
  color: #34C759;
}
.link-green:hover::after {
  width: 100%;
  transform: scale(1);
  transform-origin: left;
}

.link {
  color: var(--color-accent-light);
  position: relative;
  transition: color 0.3s;
}
.link.no-underline::after {
  content: none;
}
.link::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-secondary);
  position: absolute;
  left: 0;
  bottom: 2px;
  transition: transform 0.3s;
  transform-origin: right;
  transform: scaleX(0);
}
.link:hover {
  color: var(--color-accent);
}
.link:hover::after {
  width: 100%;
  transform: scale(1);
  transform-origin: left;
}

.card {
  height: auto;
  display: inline-block;
  position: relative;
  transition: height 0.3s;
  border-radius: 5px;
  background: var(--color-secondary);
}
.card .card-wrapper {
  border-radius: 5px;
  border: 2px solid var(--color-secondary);
  transition: border 0.3s;
}
.card .card-header {
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--color-background);
  display: flex;
  justify-content: space-between;
}
.card .card-header .title {
  font-size: 20px;
  font-weight: 500;
}
.card .card-header .title span {
  font-size: 14px;
  color: var(--color-secondary-text);
}
.card .card-header .infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  color: var(--color-secondary-text);
}
.card .card-header .infos > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}
.card .card-header .infos > div i, .card .card-header .infos > div svg {
  margin-left: 0.4rem;
}
.card .card-tags {
  display: flex;
  padding: 0rem 2rem;
  border-bottom: 2px solid var(--color-gray);
  transition: border 0.3s;
}
.card .tag {
  margin: 0.3rem 0px;
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  transition: background 0.3s, color 0.3s;
  border-radius: 5px;
}
.card .tag::before {
  content: "# ";
}
.card .tag::after {
  content: none;
}
.card .tag:hover {
  background: var(--color-accent);
  color: white;
}
.card.card-own .card-tags {
  border-bottom: 2px solid var(--color-accent);
}
.card:hover .card-wrapper {
  border-radius: 5px 5px 0px 0px;
  border-top: 2px solid var(--color-accent);
  border-right: 2px solid var(--color-accent);
  border-left: 2px solid var(--color-accent);
}
.card:hover .card-onhover {
  border-top: 0px solid var(--color-background);
  border-bottom: 2px solid var(--color-accent);
  border-right: 2px solid var(--color-accent);
  border-left: 2px solid var(--color-accent);
  animation: on-hover-appear 0.2s 0s forwards;
}
.card:hover .card-tags {
  border-bottom: 2px solid var(--color-background);
}
.card .card-onhover {
  left: 0;
  top: 0%;
  width: 100%;
  height: 0px;
  z-index: 20;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  border-radius: 0px 0px 5px 5px;
  background: var(--color-secondary);
  display: grid;
  grid-template-columns: 1fr auto;
  border: 2px solid var(--color-background);
  transition: opacity 0.3s, border 0.3s, border-top 0s;
}
.card .card-body {
  padding: 1rem 2rem;
  color: var(--color-white);
}
.card .card-buttons {
  height: 100%;
  display: grid;
  grid-template-rows: fill;
  border-left: 2px solid var(--color-background);
}
.card .card-buttons a {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0px 0px 5px;
  border-bottom: 2px solid var(--color-background);
  transition: background 0.3s;
}
.card .card-buttons a:last-child {
  border-radius: 5px 0px 0px 0px;
  border-bottom: 0px solid var(--color-background);
}
.card .card-buttons a:hover {
  background: var(--color-accent);
}

.card-own {
  box-shadow: 0px 0px 0px 2px inset var(--color-secondary);
}

.flip-card .inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.flip-card .rotate .back {
  opacity: 1;
}
.flip-card .rotate .front {
  opacity: 0;
}
.flip-card .front,
.flip-card .back {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-wrap: break-word;
  transition: opacity 0.3s;
}
.flip-card .back {
  opacity: 0;
}

@keyframes on-hover-appear {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: auto;
    top: 100%;
    pointer-events: initial;
    opacity: 1;
  }
}
.trailer {
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

body:hover .trailer {
  opacity: 1;
}

.notification {
  padding: 1rem 2rem;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  box-shadow: 0px 0px 0px 2px inset var(--color-secondary);
  background: var(--color-background);
  z-index: 1000;
  border-radius: 50px;
  animation: appear 0.3s, flash 2s 0.5s, disappear 0.3s 3s forwards;
  box-shadow: 0px 0px 0px 1px var(--border-color);
}
.notification.success {
  --border-color: #34C759;
}
.notification.error {
  --border-color: #FF3B30;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    box-shadow: 0px 0px 0px 1px var(--border-color);
  }
  25% {
    box-shadow: 0px 0px 0px 4px var(--border-color);
  }
  50% {
    box-shadow: 0px 0px 0px 1px var(--border-color);
  }
  75% {
    box-shadow: 0px 0px 0px 4px var(--border-color);
  }
  100% {
    box-shadow: 0px 0px 0px 1px var(--border-color);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(200%);
  }
}
.card-swiper {
  width: 60vw;
  height: 60vh;
}

.swiper-slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0px 0px 0px 1px inset var(--color-secondary);
  transition: box-shadow 0.3s, background 0.3s !important;
}
.swiper-slide:hover {
  box-shadow: 0px 0px 0px 10px inset var(--color-background);
  background: var(--color-secondary);
}

.dropdown .toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown .indication {
  color: var(--color-accent-light);
}
.dropdown .content {
  height: 0px;
  overflow-y: hidden;
  opacity: 0;
  transition: height 0.2s linear, margin-top 0.2s, opacity 0.3s;
}
.dropdown .content.visible {
  margin-top: 1rem;
  opacity: 1;
}

::-webkit-scrollbar {
  background: transparent;
  width: 6px;
  border-left: 1px solid var(--color-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 10px;
}

html {
  height: 100%;
}

* {
  cursor: none;
}

body {
  min-height: 100%;
  display: block;
  opacity: 0;
  transition: opacity 0.1s;
  font-weight: 300;
  background: var(--color-background);
  color: var(--color-white);
  font-family: "Archivo", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-container {
  min-height: 100vh;
  padding-top: 2rem;
  padding-right: 4rem;
  transition: margin 0.3s;
}

.main-grid {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

.separator {
  height: 1px;
  width: 100%;
  display: block;
  background: var(--color-secondary);
  margin: 2rem 0px;
}

#loader {
  width: 100%;
  height: 100%;
  background: var(--color-background);
  position: fixed;
  z-index: 10000;
}
#loader .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loader .content img {
  animation: loader 0.5s infinite;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

.form-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.form-inline {
  width: 100%;
  display: grid;
  grid-template-columns: 8% 1fr 8%;
  grid-column-gap: 2rem;
}
.form-inline .form-group {
  margin-bottom: 1rem;
}
.form-inline .form-group:last-child {
  margin-bottom: 0;
}
.form-inline textarea {
  min-height: 10rem;
  box-sizing: border-box;
  resize: none;
}
.form-inline button {
  width: 100%;
  height: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}
.form-group.h-fill {
  height: 100%;
  box-sizing: border-box;
}
.form-group.h-fill .field-container {
  height: 100%;
}
.form-group.h-fill input,
.form-group.h-fill textarea {
  height: 100%;
}
.form-group .field-container {
  width: 100%;
  position: relative;
  display: block;
}
.form-group .form-help {
  max-height: 0;
  display: block;
  overflow: hidden;
  font-size: 14px;
  color: var(--color-secondary-text);
}
.form-group .field-container:focus-within + .form-help {
  max-height: 100%;
}

.field-container {
  position: relative;
  display: inline-block;
}
.field-container label {
  order: -1;
  font-size: 14px;
  color: var(--color-gray);
  background: transparent;
  transition: background 0s 1s;
}
.field-container.indication + label::after {
  content: "";
  width: 8px;
  height: 8px;
  margin-left: 0.5rem;
  display: inline-block;
  background: var(--color-secondary);
  border-radius: 100px;
  opacity: 0;
  transition: background 0.3s, opacity 0.1s 0.2s;
}
.field-container input[type=text],
.field-container input[type=email],
.field-container input[type=password],
.field-container input[type=number],
.field-container input[type=search],
.field-container textarea {
  width: 100%;
}
.field-container input[type=text] + label,
.field-container input[type=email] + label,
.field-container input[type=password] + label,
.field-container input[type=number] + label,
.field-container input[type=search] + label,
.field-container textarea + label {
  display: block;
  width: auto;
  position: absolute;
  margin-bottom: 0.25rem;
  left: 1rem;
  transform: translateY(-50%);
  top: 50%;
  left: 1rem;
  transition: top 0.2s;
}
.field-container.indication input[type=text] + label::after, .field-container.indication input[type=email] + label::after, .field-container.indication input[type=password] + label::after, .field-container.indication input[type=number] + label::after, .field-container.indication input[type=search] + label::after, .field-container.indication textarea + label::after {
  content: "";
  width: 8px;
  height: 8px;
  background: var(--color-secondary);
  border-radius: 100px;
  position: absolute;
  right: -1rem;
  top: calc(50% - 4px);
  opacity: 0;
  transition: background 0.3s, opacity 0.1s 0.2s;
}
.field-container input:not(:placeholder-shown) + label,
.field-container textarea:not(:placeholder-shown) + label {
  top: 0px;
  color: var(--color-white);
}
.field-container input:empty:focus + label,
.field-container textarea:empty:focus + label {
  color: var(--color-white);
  top: 0px;
}
.field-container input:empty:not(:focus) + label,
.field-container textarea:empty:not(:focus) + label {
  background: var(--color-background);
}
.field-container input:focus:invalid + label::after,
.field-container textarea:focus:invalid + label::after {
  border: 2px solid var(--color-red);
  opacity: 1;
}
.field-container input:valid + label::after,
.field-container textarea:valid + label::after {
  border: 2px solid var(--color-green);
  opacity: 1 !important;
}
.field-container textarea + label {
  top: 1rem;
}

.form-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-footer small {
  text-align: center;
  margin-top: 0.5rem;
}

input,
textarea {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  outline: none;
  border-radius: 0px;
}

textarea {
  width: 100%;
  min-height: 4rem;
  height: 4rem;
  resize: vertical;
  box-sizing: border-box;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=search],
textarea {
  padding: 0.5rem 1rem;
  position: relative;
  display: inline-block;
  color: var(--color-white);
  border: 1px solid var(--color-gray);
  background: var(--color-background);
  box-shadow: inset 0px 0px 0px 0px var(--color-gray);
  border-radius: 5px;
  transition: box-shadow 0.3s, background 0.3s;
}
input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=number]:hover,
input[type=search]:hover,
textarea:hover {
  box-shadow: inset 0px 0px 0px 4px var(--color-gray);
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=search]:focus,
textarea:focus {
  background: var(--color-gray);
}

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox],
  input[type=radio] {
    --active: #fb9b5b;
    --active-inner: #fff;
    --focus: 2px rgba(98, 110, 119, 0.4);
    --border: #626e77;
    --border-hover: #626e77;
    --background: #2d2d2d00;
    --disabled: #3c3c3c;
    --disabled-inner: #e0c1ad;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    border-radius: 5px;
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox]:hover:not(:checked),
  input[type=radio]:hover:not(:checked) {
    box-shadow: inset 0px 0px 0px 4px var(--color-gray);
  }
  input[type=checkbox]:after,
  input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox]:checked,
  input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  input[type=checkbox]:disabled,
  input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox]:disabled:checked,
  input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox]:disabled + label,
  input[type=radio]:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox]:hover:not(:checked):not(:disabled),
  input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type=checkbox]:focus,
  input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type=checkbox]:not(.switch),
  input[type=radio]:not(.switch) {
    width: 21px;
  }
  input[type=checkbox]:not(.switch):after,
  input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox]:not(.switch):checked,
  input[type=radio]:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox] + label,
  input[type=radio] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  input[type=checkbox].switch {
    width: 38px;
  }
  input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
  input[type=radio] {
    border-radius: 50%;
  }
  input[type=radio]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type=radio]:checked {
    --s: 0.5;
  }
}
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-r {
  margin-right: 0.5rem;
}

.space-l {
  margin-left: 0.5rem;
}

.fill-width {
  width: 100%;
}

.fill-height {
  width: 100%;
}

@media all and (min-width: 768px) {
  .main-grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 992px) {
  .main-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 1200px) {
  .main-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.mt-0 {
  margin-top: 0rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mt-11 {
  margin-top: 11rem;
}

.mt-12 {
  margin-top: 12rem;
}

.mt-13 {
  margin-top: 13rem;
}

.mt-14 {
  margin-top: 14rem;
}

.mt-15 {
  margin-top: 15rem;
}

.mt-16 {
  margin-top: 16rem;
}

.mt-17 {
  margin-top: 17rem;
}

.mt-18 {
  margin-top: 18rem;
}

.mt-19 {
  margin-top: 19rem;
}

.mt-20 {
  margin-top: 20rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mr-7 {
  margin-right: 7rem;
}

.mr-8 {
  margin-right: 8rem;
}

.mr-9 {
  margin-right: 9rem;
}

.mr-10 {
  margin-right: 10rem;
}

.mr-11 {
  margin-right: 11rem;
}

.mr-12 {
  margin-right: 12rem;
}

.mr-13 {
  margin-right: 13rem;
}

.mr-14 {
  margin-right: 14rem;
}

.mr-15 {
  margin-right: 15rem;
}

.mr-16 {
  margin-right: 16rem;
}

.mr-17 {
  margin-right: 17rem;
}

.mr-18 {
  margin-right: 18rem;
}

.mr-19 {
  margin-right: 19rem;
}

.mr-20 {
  margin-right: 20rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.mb-11 {
  margin-bottom: 11rem;
}

.mb-12 {
  margin-bottom: 12rem;
}

.mb-13 {
  margin-bottom: 13rem;
}

.mb-14 {
  margin-bottom: 14rem;
}

.mb-15 {
  margin-bottom: 15rem;
}

.mb-16 {
  margin-bottom: 16rem;
}

.mb-17 {
  margin-bottom: 17rem;
}

.mb-18 {
  margin-bottom: 18rem;
}

.mb-19 {
  margin-bottom: 19rem;
}

.mb-20 {
  margin-bottom: 20rem;
}

.ml-0 {
  margin-left: 0rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.ml-6 {
  margin-left: 6rem;
}

.ml-7 {
  margin-left: 7rem;
}

.ml-8 {
  margin-left: 8rem;
}

.ml-9 {
  margin-left: 9rem;
}

.ml-10 {
  margin-left: 10rem;
}

.ml-11 {
  margin-left: 11rem;
}

.ml-12 {
  margin-left: 12rem;
}

.ml-13 {
  margin-left: 13rem;
}

.ml-14 {
  margin-left: 14rem;
}

.ml-15 {
  margin-left: 15rem;
}

.ml-16 {
  margin-left: 16rem;
}

.ml-17 {
  margin-left: 17rem;
}

.ml-18 {
  margin-left: 18rem;
}

.ml-19 {
  margin-left: 19rem;
}

.ml-20 {
  margin-left: 20rem;
}

.mx-0 {
  margin: 0rem;
}

.mx-1 {
  margin: 1rem;
}

.mx-2 {
  margin: 2rem;
}

.mx-3 {
  margin: 3rem;
}

.mx-4 {
  margin: 4rem;
}

.mx-5 {
  margin: 5rem;
}

.mx-6 {
  margin: 6rem;
}

.mx-7 {
  margin: 7rem;
}

.mx-8 {
  margin: 8rem;
}

.mx-9 {
  margin: 9rem;
}

.mx-10 {
  margin: 10rem;
}

.mx-11 {
  margin: 11rem;
}

.mx-12 {
  margin: 12rem;
}

.mx-13 {
  margin: 13rem;
}

.mx-14 {
  margin: 14rem;
}

.mx-15 {
  margin: 15rem;
}

.mx-16 {
  margin: 16rem;
}

.mx-17 {
  margin: 17rem;
}

.mx-18 {
  margin: 18rem;
}

.mx-19 {
  margin: 19rem;
}

.mx-20 {
  margin: 20rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pt-11 {
  padding-top: 11rem;
}

.pt-12 {
  padding-top: 12rem;
}

.pt-13 {
  padding-top: 13rem;
}

.pt-14 {
  padding-top: 14rem;
}

.pt-15 {
  padding-top: 15rem;
}

.pt-16 {
  padding-top: 16rem;
}

.pt-17 {
  padding-top: 17rem;
}

.pt-18 {
  padding-top: 18rem;
}

.pt-19 {
  padding-top: 19rem;
}

.pt-20 {
  padding-top: 20rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pr-6 {
  padding-right: 6rem;
}

.pr-7 {
  padding-right: 7rem;
}

.pr-8 {
  padding-right: 8rem;
}

.pr-9 {
  padding-right: 9rem;
}

.pr-10 {
  padding-right: 10rem;
}

.pr-11 {
  padding-right: 11rem;
}

.pr-12 {
  padding-right: 12rem;
}

.pr-13 {
  padding-right: 13rem;
}

.pr-14 {
  padding-right: 14rem;
}

.pr-15 {
  padding-right: 15rem;
}

.pr-16 {
  padding-right: 16rem;
}

.pr-17 {
  padding-right: 17rem;
}

.pr-18 {
  padding-right: 18rem;
}

.pr-19 {
  padding-right: 19rem;
}

.pr-20 {
  padding-right: 20rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.pb-11 {
  padding-bottom: 11rem;
}

.pb-12 {
  padding-bottom: 12rem;
}

.pb-13 {
  padding-bottom: 13rem;
}

.pb-14 {
  padding-bottom: 14rem;
}

.pb-15 {
  padding-bottom: 15rem;
}

.pb-16 {
  padding-bottom: 16rem;
}

.pb-17 {
  padding-bottom: 17rem;
}

.pb-18 {
  padding-bottom: 18rem;
}

.pb-19 {
  padding-bottom: 19rem;
}

.pb-20 {
  padding-bottom: 20rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pl-6 {
  padding-left: 6rem;
}

.pl-7 {
  padding-left: 7rem;
}

.pl-8 {
  padding-left: 8rem;
}

.pl-9 {
  padding-left: 9rem;
}

.pl-10 {
  padding-left: 10rem;
}

.pl-11 {
  padding-left: 11rem;
}

.pl-12 {
  padding-left: 12rem;
}

.pl-13 {
  padding-left: 13rem;
}

.pl-14 {
  padding-left: 14rem;
}

.pl-15 {
  padding-left: 15rem;
}

.pl-16 {
  padding-left: 16rem;
}

.pl-17 {
  padding-left: 17rem;
}

.pl-18 {
  padding-left: 18rem;
}

.pl-19 {
  padding-left: 19rem;
}

.pl-20 {
  padding-left: 20rem;
}

.px-0 {
  padding: 0rem;
}

.px-1 {
  padding: 1rem;
}

.px-2 {
  padding: 2rem;
}

.px-3 {
  padding: 3rem;
}

.px-4 {
  padding: 4rem;
}

.px-5 {
  padding: 5rem;
}

.px-6 {
  padding: 6rem;
}

.px-7 {
  padding: 7rem;
}

.px-8 {
  padding: 8rem;
}

.px-9 {
  padding: 9rem;
}

.px-10 {
  padding: 10rem;
}

.px-11 {
  padding: 11rem;
}

.px-12 {
  padding: 12rem;
}

.px-13 {
  padding: 13rem;
}

.px-14 {
  padding: 14rem;
}

.px-15 {
  padding: 15rem;
}

.px-16 {
  padding: 16rem;
}

.px-17 {
  padding: 17rem;
}

.px-18 {
  padding: 18rem;
}

.px-19 {
  padding: 19rem;
}

.px-20 {
  padding: 20rem;
}

.fw-0 {
  font-weight: 0;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fs-0 {
  font-size: 0rem;
}

.fs-1 {
  font-size: 1rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-3 {
  font-size: 3rem;
}

.fs-4 {
  font-size: 4rem;
}

.fs-5 {
  font-size: 5rem;
}

.fs-6 {
  font-size: 6rem;
}

.fs-7 {
  font-size: 7rem;
}

.fs-8 {
  font-size: 8rem;
}

.fs-9 {
  font-size: 9rem;
}

.fs-10 {
  font-size: 10rem;
}

.text-background {
  color: #17191a;
}

.text-secondary {
  color: #1c1e1f;
}

.text-gray {
  color: #626e77;
}

.text-accent {
  color: #fb9b5b;
}

.text-accent-light {
  color: #e1a983;
}

.text-white {
  color: #FFFFFF;
}

.text-red {
  color: #FF3B30;
}

.text-green {
  color: #34C759;
}

.bg-background {
  color: #17191a;
}

.bg-secondary {
  color: #1c1e1f;
}

.bg-gray {
  color: #626e77;
}

.bg-accent {
  color: #fb9b5b;
}

.bg-accent-light {
  color: #e1a983;
}

.bg-white {
  color: #FFFFFF;
}

.bg-red {
  color: #FF3B30;
}

.bg-green {
  color: #34C759;
}

.border-background {
  color: #17191a;
}

.border-secondary {
  color: #1c1e1f;
}

.border-gray {
  color: #626e77;
}

.border-accent {
  color: #fb9b5b;
}

.border-accent-light {
  color: #e1a983;
}

.border-white {
  color: #FFFFFF;
}

.border-red {
  color: #FF3B30;
}

.border-green {
  color: #34C759;
}

@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Variable.woff2") format("woff2"), url("../fonts/Archivo-Variable.woff") format("woff"), url("../fonts/Archivo-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
.text {
  color: var(--color-white);
  font-weight: 400;
}
.text.italic {
  font-style: italic;
}
.text.horizontal {
  writing-mode: vertical-lr;
  text-orientation: upright;
  cursor: default;
}
.text.uppercase {
  text-transform: uppercase;
}
.text.title-1 {
  font-size: 1.75rem;
  font-weight: 700;
}
.text.title-2 {
  font-size: 2rem;
  font-weight: 700;
}
.text.sub-1 {
  font-size: 20px;
  font-weight: 500;
}
.text.sub-2 {
  font-size: 24px;
  font-weight: 500;
}
.text.body-1 {
  font-size: 14px;
}
.text.body-2 {
  font-size: 16px;
}
.text.caption-1 {
  font-size: 10px;
}
.text.caption-2 {
  font-size: 12px;
}
.text.secondary {
  color: var(--color-secondary-text);
}
.text.error {
  color: var(--color-red-light);
}
.text.center {
  text-align: center;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=main.css.map */
