.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding: 1rem 4rem;
    z-index: 1000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: rgba(45, 45, 45, 0.8);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-bottom: 1px solid $color-gray;

    .navbar-brand {
        font-weight: 700;
        letter-spacing: 1px;
    }

    .navbar-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        & > li { margin-right: 2rem; }

        li:last-child { margin-right: 0px; }
    }
}