{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="centered">
        <div class="form-card">
            <h3 class="form-title text title-1">Sign In</h3>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form.username }}
                    <label for="id_username">Username</label>
                </fieldset>
                <fieldset class="form-group">
                    {{ form.password }}
                    <label for="id_password">Password</label>
                </fieldset>
                <div class="form-footer">
                    <button class="button" type="submit">Login</button>
                    <small class="text caption-2 secondary">You don't have an account, <a href="{% url 'sign-in' %}" class="link">register</a>.</small>
                </div>
            </form>
        </div>
    </header>
{% endblock content %}
