{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="centered">
        <div class="form-card">
            <h3 class="form-title text title-1">Sign In</h3>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form.username }}
                    <label for="id_username">Username</label>
                </fieldset>
                <fieldset class="form-group">
                    {{ form.email }}
                    <label for="id_email">Email</label>
                </fieldset>
                <fieldset class="form-group">
                    {{ form.password1 }}
                    <label for="id_password1">Password</label>
                </fieldset>
                <fieldset class="form-group">
                    {{ form.password2 }}
                    <label for="id_password2">Password Confirmation</label>
                </fieldset>
                <div class="form-footer">
                    <button class="button" type="submit">Create Account</button>
                    <small class="text caption-2 secondary">Already an account, <a href="{% url 'login' %}" class="link">login</a>.</small>
                </div>
            </form>
        </div>
    </header>
{% endblock content %}