// Colors
$colors: (
    "background": #17191a,
    "secondary": #1c1e1f,
    "gray": #626e77,
    "accent": #fb9b5b,
    "accent-light": #e1a983,
    "white": #FFFFFF,
    "red": #FF574E,
    "green": #34C759,
);

:root {
    --color-background: #17191a;
    --color-secondary: #1c1e1f;

    --color-gray: #626e77;
    --color-accent: #fb9b5b;
    --color-accent-light: #e1a983;

    --color-white: #ffffff;
    --color-white-al: rgba(255, 255, 255, 0.6);

    --color-red: #FF3B30;
    --color-red-al: rgba(255, 58, 48, 0.6);
    --color-green: #34C759;
    --color-green-al: rgba(52, 199, 89, 0.6);

    --color-secondary-text: #636d77;
}

// Viewport breakpoints
$breakpoints:(
  xs:(
    min-width: 564px,
    font-size: 20px
  ),
  md:(
    min-width: 768px,
    font-size: 30px
  ),
  lg:(
    min-width: 992px,
    font-size: 40px
  ),
  xl:(
    min-width: 1200px,
    font-size: 50px
  )
);