// Colors
$color-background: #2D2D2D;
$color-gray: #3c3c3c;
$color-accent: #fb9b5b;
$color-accent-light: #e0c1ad;
$color-secondary: #ffebc6;
$color-green: #34C759;
$color-red: #FF3B30;
$color-red-light: rgba(255, 58, 48, 0.5);

$color-gray-alpha-low: rgba(60, 60, 60, 0.5);

$color-primary-text: #FFFFFF;
$color-secondary-text: #AFAFAF;

$colors: (
    "accent": #fb9b5b,
    "accent-light": #e0c1ad,
    "white": #FFFFFF,
    "gray": #3c3c3c,
    "green": #34C759,
    "red": #FF3B30,
    "red-light": rgba(255, 58, 48, 0.5),
)