.button {
    padding: 1rem 2rem;
    position: relative;
    display: inline-block;
    color: var(--color-white);
    text-align: center;
    font-size: 16px;
    background: transparent;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px inset var(--color-accent);

    transition: color 0.3s, box-shadow 0.3s, transform 0.2s ease-in-out;

    &::after {
        content: "";
        width: 102%;
        height: 102%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: var(--color-accent);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s;
        border-radius: 5px;
    }
    &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
        right: 0;
    }
    &:hover {
        // transform: scale(1.05);
        color: var(--color-white);
    }

    &.small {
        padding: 0.5rem 1rem;
        font-size: 14px;
    }

    &.submit {
        transition: background 0.3s;
        &:hover {
            background: var(--color-secondary);
        }
    }

    &.rounded {
        border-radius: 10px;
    }

    &.slash-idle {
        &:before {
            position: absolute;
            content: '';
            display: inline-block;
            top: -180px;
            left: 0;
            width: 30px;
            height: 100%;
            background-color: var(--color-accent);
            animation: slash 5s ease-in-out infinite;
        }
    }
}

@keyframes slash {
    0% { transform: scale(0) rotate(45deg); opacity: 0; }
    80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { transform: scale(4) rotate(45deg); opacity: 1; }
    100% { transform: scale(50) rotate(45deg); opacity: 0; }
}
