.dropdown {
    .toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .indication {
        color: $color-accent-light;
    }

    .content {
        height: 0px;
        overflow-y: hidden;
        opacity: 0;

        transition: height .2s linear, margin-top .2s, opacity 0.3s;

        &.visible {
            margin-top: 1rem;
            opacity: 1;
        }
    }
}