.notification {
    padding: 1rem 2rem;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    border: 1px solid $color-gray;
    background: $color-background;

    &.success {
        --border-color: #34C759;
    }
    &.error {
        --border-color: #FF3B30;
    }

    animation: appear 0.3s, flash 2s 0.5s, disappear 0.3s 3s forwards;

    box-shadow: 0px 0px 0px 1px var(--border-color);
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        box-shadow: 0px 0px 0px 1px var(--border-color);
    }
    25% {
        box-shadow: 0px 0px 0px 4px var(--border-color);
    }
    50% {
        box-shadow: 0px 0px 0px 1px var(--border-color);
    }
    75% {
        box-shadow: 0px 0px 0px 4px var(--border-color);
    }
    100% {
        box-shadow: 0px 0px 0px 1px var(--border-color);
    }
}
@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(200%);
    }
}