.card-swiper {
    width: 60vw;
    height: 60vh;
}

.swiper-slide {
    width: 100%;
    // background: $color-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0px 0px 0px 1px inset $color-gray;

    transition: box-shadow 0.3s, background 0.3s !important;

    &:hover {
        box-shadow: 0px 0px 0px 10px inset $color-background;
        background: $color-gray;
    }
}